@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

button {
  background: #333;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background: #f4f4f4;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 7px 20px;
  min-width: 300px;
  /* position: absolute; */
  bottom: 0;
  right: 0;
}

.form-input {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

@media (min-width: 768px) {
  body {
    flex-direction: row-reverse;
  }
}
